# Server Configuration
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET=your_super_secret_jwt_key_here

# SSLCommerz Configuration
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_LIVE=false
APP_URL=
# If running locally, you would need:
# FIREBASE_PROJECT_ID=
# FIREBASE_CLIENT_EMAIL=
# FIREBASE_PRIVATE_KEY=
